@mixin flex ($justify-content, $align-items, $wrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $wrap;
}

@mixin transition {
    transition: all 0.3s linear;
}

@mixin line ($background-color) {
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block;
        height: 2px;
        background-color: $background-color;
    }
}