$white: #fff;
$white-light: #fefefe;
$purple: #9884aa;
$purple-light: #ead7fb;
$purple-dark: #4c2f65;
$yellow: #f7df59;
$yellow-light: #ead354;
$blue: #69c7e2;
      
$roboto: Roboto, Arial, sans-serif;
$gotham-black: "Gotham-Black", sans-serif;
$gotham-thin: "Gotham-Thin", sans-serif;
$open-sans: "Open Sans", sans-serif;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;



