.caption {
	color: $white;
    text-align: center;
    
    &__list {
        padding: 80px 0 45px;
        margin-bottom: 45px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            display: block;
            height: 2px;
            background-color: $purple;
        }
    }

    &__title {
        font-family: $gotham-black;
        font-size: 112px;
        text-transform: uppercase;

        span {
            color: $purple-light;
        }
    }

    &__subtitle {
        font-family: $gotham-black;
        font-size: 34px;
        word-spacing: -1px;
    }
}

