.heading {
    padding: 80px 0;
    text-align: center;

    @media (max-width: $screen-md) {
        padding: 60px 0;
    }

    @media (max-width: $screen-sm) {
        padding: 40px 0;
    }

    &__title {
        font-size: 60px;
        font-weight: $thin;
        color: $violet;
        text-transform: uppercase;

        @media (max-width: $screen-md) {
            font-size: 55px;
        }

        @media (max-width: $screen-sm) {
            font-size: 40px;
        }
    }

    &__subtitle {
        font-size: 30px;
        font-weight: $medium;

        @media (max-width: $screen-md) {
            font-size: 25px;
        }

        @media (max-width: $screen-md) {
            font-size: 20px;
        }
    }

    &--padding {
        padding: 95px 0 80px;

        @media (max-width: $screen-md) {
            padding: 60px 0;
        }
    
        @media (max-width: $screen-sm) {
            padding: 40px 0;
        }
    }
}
