
.licence {
    padding-bottom: 65px;
    position: relative;
    @include line ($violet);

    @media (max-width: $screen-md) {
        padding-bottom: 55px;
    }

    @media (max-width: $screen-sm) {
       padding-bottom: 40px;
    }

    &__text {
        font-size: 13px;
        font-weight: $light;
        line-height: 2.3;
        color: $violet;
        background-color: $white;
        @extend %many-shadow;
        padding: 28px 20px;
        border-radius: 4px;

        @media (max-width: $screen-lg) {
            padding: 25px 17px;
        }

        @media (max-width: $screen-md) {
            padding: 20px 15px;
            font-size: 12px;
            line-height: 2.0;
        }

        @media (max-width: $screen-sm) {
            padding: 18px 12px;
            font-size: 10px;
            line-height: 1.8;
        }
    
        b {
            font-weight: $medium;
        }

        a {
            font-weight: $medium;
            color: $violet;
            @include transition;
            
            &:hover {
                font-weight: $bold;
	            color: $purple-dark;
            }
        }       
    }
}
